*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/src/main/res/layout/test.xml
app/src/main/res/drawable/income_wallet_illustration.webp
app/src/main/res/layout/fragment_login.xml
app/src/main/java/com/kingstudio/spendwise/LoginFragment.kt
app/src/main/res/layout/fragment_sign_up.xml
app/src/main/java/com/kingstudio/spendwise/SignUpFragment.kt
app/src/main/res/layout/fragment_profile_setup.xml
app/src/main/java/com/kingstudio/spendwise/ProfileSetupFragment.kt
app/src/main/res/drawable/test.xml
